.items {
    /* display: grid;
    grid-template-columns: auto auto auto; */

    grid-gap: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}

.items-light {
    /* background-image: linear-gradient(45deg, #7c9885, #b5b682); */
    color: black;
}

.items-dark {
    /* background-image: linear-gradient(45deg, #83677a, #4a493d); */
    color: white;
}