.noteitem-cont{
    float: left;
    padding: 10px;
    width: 90%;
    border: 2px solid;
    border-radius: 5px;
    margin: 5px;
}
.details{
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 #7484eb, 0 5px 10px 0 #79a6f3;
    display: grid;
    margin: 10px;
    padding: 5px;
    width: 87%;
    border:2px solid black;
}
.details h1{
    margin-top: 0;
}
.details p{
    padding: 5px;
}
.details div i{
    padding: 5px;
}
.pointer{
    cursor: pointer;
}
.pointer:hover{
    transform: translateY(-4px);
}